

body {
  margin:0px;
   
}

#container1 {
  color:#999;
  text-transform: uppercase;
  font-size:22px;
  
   
  position:relative;
  width:100%;
  bottom:10%;
  display:block;
}

#flip {
  height:40px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:3px 12px;
  height:45px;
  margin-bottom:50px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 9s linear infinite;
}

#flip div div {
  background:#28B463;
}
#flip div:first-child div {
  background:#DE3163;
}
#flip div:last-child div {
  background:#ff9800;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}
